* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.content {
    width: 1110px;
    margin-left: auto;
    margin-right:auto;
}
/* Header */
.header {
    height: 100vh;
    background: #E6F0FF;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-size: 14px;
    font-weight: 500;
    color: #4F5361;
}